.git
.github
__pycache__
*.pyc
*~
.DS_Store
container-data/

outfiles/*
!outfiles/.gitignore
runout/*
!runout/.gitignore
worksim/*
!worksim/.gitignore

src/*.o
src/mc_single_arm
src/*~
src/**/*.o
src/**/*~

util/root_tree/*.o
util/root_tree/*.co
util/root_tree/make_root_tree
util/ntuple/*.o
util/ntuple/*.d
util/ntuple/make_ntuple
